1Password/
VirtualBox/
lazygit/
systemd/
accounts.conf
akonadi*
akregatorrc
baloofilerc
bluedevilglobalrc
BraveSoftware/
cat_installer/
chromium/
Code/
dconf/
discord/
discoverrc
dolphinrc
email*
google*
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
kactivitymanagerdrc
kactivitymanagerd-statsrc
kalendaracrc
kateschemarc
kcminputrc
kconf_updaterc
KDE/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kde.org/
kglobalshortcutsrc
khotkeysrc
kmail2rc
kmixctrlrc
kmixrc
konquerorrc
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
menus/
microsoft-edge-dev/
mimeapps.list
nomacs/
okularpartrc
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
plasma-welcomerc
powerdevilrc
powermanagementprofilesrc
prune.sh
pulse/
qBittorrent/
QtProject.conf
session/
specialmailcollectionsrc
spectaclerc
spotify
systemsettingsrc
Trolltech.conf
Unknown Organization
user-dirs.dirs
user-dirs.locale
vivaldi*
webengineurlinterceptoradblockrc
xsettingsd/
